@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Playfair+Display:900|Ubuntu:300,500,700");
/* line 5, ../scss/base/_base.scss */
*,
*:after,
*:before {
  box-sizing: inherit;
}

/* line 11, ../scss/base/_base.scss */
html,
body {
  height: 100%;
}

/* line 16, ../scss/base/_base.scss */
html {
  box-sizing: border-box;
}

/* line 20, ../scss/base/_base.scss */
body {
  background-color: #FAFAFA;
  color: #333333;
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  line-height: 1.75;
  letter-spacing: 0.5px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size-adjust: auto;
  position: relative;
  margin: 0;
}

/* line 9, ../scss/base/_headings.scss */
h1,
.h1, h2,
.h2, h3,
.h3, h4,
.h4, h5,
.h5, h6,
.h6 {
  font-family: "Playfair Display", serif;
  line-height: 1.75;
  letter-spacing: 1px;
  font-weight: bold;
  display: block;
  margin: 0 0 .5em;
  color: #333333;
}
/* line 18, ../scss/base/_headings.scss */
h1 a,
.h1 a, h2 a,
.h2 a, h3 a,
.h3 a, h4 a,
.h4 a, h5 a,
.h5 a, h6 a,
.h6 a {
  text-decoration: none;
  transition: color 0.3s ease;
}
/* line 22, ../scss/base/_headings.scss */
h1 a:hover,
.h1 a:hover, h2 a:hover,
.h2 a:hover, h3 a:hover,
.h3 a:hover, h4 a:hover,
.h4 a:hover, h5 a:hover,
.h5 a:hover, h6 a:hover,
.h6 a:hover {
  color: #EDD07F;
}

/* line 28, ../scss/base/_headings.scss */
h1,
.h1 {
  font-size: 36px;
}

/* line 32, ../scss/base/_headings.scss */
h2,
.h2 {
  font-size: 24px;
}

/* line 36, ../scss/base/_headings.scss */
h3,
.h3 {
  font-size: 18px;
}

/* line 40, ../scss/base/_headings.scss */
h4,
.h4 {
  font-size: 16px;
}

/* line 44, ../scss/base/_headings.scss */
h5,
.h5 {
  font-size: 16px;
}

/* line 48, ../scss/base/_headings.scss */
h6,
.h6 {
  font-size: 14px;
}

@media (min-width: 1024px) {
  /* line 61, ../scss/base/_headings.scss */
  h1,
  .h1 {
    font-size: 36px;
  }

  /* line 65, ../scss/base/_headings.scss */
  h2,
  .h2 {
    font-size: 24px;
  }

  /* line 69, ../scss/base/_headings.scss */
  h3,
  .h3 {
    font-size: 20px;
  }

  /* line 73, ../scss/base/_headings.scss */
  h4,
  .h4 {
    font-size: 18px;
  }

  /* line 77, ../scss/base/_headings.scss */
  h5,
  .h5 {
    font-size: 16px;
  }

  /* line 81, ../scss/base/_headings.scss */
  h6,
  .h6 {
    font-size: 15px;
  }
}
/* ========================================================================== *\
   BASE - Headings
\* ========================================================================== */
/* line 120, ../scss/base/_headings.scss */
h6,
.h6 {
  font-weight: 600;
}

/* line 5, ../scss/base/_links.scss */
a {
  color: black;
  text-decoration: underline;
  transition: color .3s ease;
}
/* line 10, ../scss/base/_links.scss */
a:hover {
  color: #EDD07F;
}
/* line 14, ../scss/base/_links.scss */
a:active {
  color: inherit;
}
/* line 18, ../scss/base/_links.scss */
a:visited {
  color: inherit;
}

/* line 5, ../scss/base/_typography.scss */
p {
  margin: 0 0 1.5em;
  letter-spacing: 0.5px;
}

/* line 10, ../scss/base/_typography.scss */
address {
  font-style: normal;
}

/* line 14, ../scss/base/_typography.scss */
b,
strong {
  font-weight: bold;
}

/* line 19, ../scss/base/_typography.scss */
i,
em {
  font-style: italic;
}

/* line 24, ../scss/base/_typography.scss */
blockquote,
q {
  font-family: "Playfair Display", serif;
  font-size: 24px;
  line-height: 1.75;
  letter-spacing: 0.5px;
  color: #333333;
  font-weight: bold;
  font-style: italic;
  position: relative;
}
/* line 35, ../scss/base/_typography.scss */
blockquote p,
q p {
  margin: 0;
  display: inline;
}
/* line 40, ../scss/base/_typography.scss */
blockquote:before,
q:before {
  position: absolute;
  content: '“';
  font-size: 30px;
  width: 20px;
  height: 20px;
  top: 0;
  left: -20px;
}
/* line 50, ../scss/base/_typography.scss */
blockquote:after,
q:after {
  position: absolute;
  content: '”';
  width: 22px;
  height: 22px;
}

/* line 5, ../scss/objects/_layout.scss */
.content-wrapper {
  overflow: hidden;
  padding-top: 80px;
}

/* line 10, ../scss/objects/_layout.scss */
.block {
  max-width: 1140px;
  margin: 0 auto;
}

/* line 15, ../scss/objects/_layout.scss */
.inner-block {
  max-width: 500px;
  width: 100%;
}

/* line 20, ../scss/objects/_layout.scss */
.intro-block {
  background: #004B7C;
  max-width: 1140px;
  padding: 100px auto;
}

/* line 26, ../scss/objects/_layout.scss */
.industry__intro,
.consult__intro,
.team__intro {
  color: #FAFAFA;
  font-size: 18px;
  text-align: center;
  margin: 50px auto;
  background: #004B7C;
  position: relative;
  z-index: 1;
  padding: 0 50px 50px;
}
/* line 38, ../scss/objects/_layout.scss */
.industry__intro p,
.consult__intro p,
.team__intro p {
  font-weight: 300;
  text-align: left;
}
/* line 43, ../scss/objects/_layout.scss */
.industry__intro:after,
.consult__intro:after,
.team__intro:after {
  position: absolute;
  content: '';
  background: #004B7C;
  height: calc(100% + 100px);
  width: 100vw;
  right: 50%;
  left: 50%;
  top: -50px;
  margin-left: -50vw;
  margin-right: -50vw;
  z-index: -1;
}

/* line 58, ../scss/objects/_layout.scss */
.consult__intro-title,
.industry__intro-title,
.team__intro-title,
.contact__intro-title {
  color: #FAFAFA;
  line-height: 36px;
  display: inline-block;
}

@media screen and (min-width: 768px) {
  /* line 88, ../scss/objects/_layout.scss */
  .industry__intro,
  .consult__intro,
  .team__intro {
    margin: 50px auto 50px;
  }
  /* line 92, ../scss/objects/_layout.scss */
  .industry__intro:after,
  .consult__intro:after,
  .team__intro:after {
    height: calc(100% + 100px);
  }
}
@media screen and (min-width: 1200px) {
  /* line 103, ../scss/objects/_layout.scss */
  .block {
    max-width: 1140px;
    margin: 150px auto;
  }

  /* line 108, ../scss/objects/_layout.scss */
  .industry__intro,
  .consult__intro,
  .team__intro {
    font-size: 24px;
    margin: 40px auto 170px;
    padding: 0 50px;
  }
  /* line 114, ../scss/objects/_layout.scss */
  .industry__intro:after,
  .consult__intro:after,
  .team__intro:after {
    height: calc(100% + 220px);
  }

  /* line 119, ../scss/objects/_layout.scss */
  .team__intro--notext {
    margin: 40px auto 170px;
  }

  /* line 123, ../scss/objects/_layout.scss */
  .consult__intro-title,
  .industry__intro-title,
  .team__intro-title,
  .contact__intro-title {
    color: #FAFAFA;
    line-height: 36px;
    display: inline-block;
  }
}
/* line 5, ../scss/objects/_header.scss */
header {
  height: 100%;
  width: 100%;
  max-height: 80px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  position: fixed;
  z-index: 999;
}

/* line 16, ../scss/objects/_header.scss */
.headroom {
  will-change: transform;
  transition: transform 400ms ease;
}

/* line 21, ../scss/objects/_header.scss */
.headroom--pinned {
  transform: translateY(0%);
}

/* line 25, ../scss/objects/_header.scss */
.headroom--unpinned {
  transform: translateY(-100%);
}

@media screen and (min-width: 768px) {
  /* line 34, ../scss/objects/_header.scss */
  header {
    background: #073C5F;
    padding: 28px 50px;
  }
}
@media screen and (min-width: 1200px) {
  /* line 45, ../scss/objects/_header.scss */
  header {
    padding: 28px 150px;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    -webkit-justify-content: flex-end;
    -moz-justify-content: flex-end;
    justify-content: flex-end;
  }
}
/* line 5, ../scss/objects/_menu.scss */
.main-nav {
  display: block;
  background: #083B5E;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  padding: 40px 40px 0;
}

/* line 16, ../scss/objects/_menu.scss */
.main-menu {
  padding: 0;
  margin: 0;
  list-style: none;
}

/* line 22, ../scss/objects/_menu.scss */
.main-menu__item {
  display: block;
}
/* line 25, ../scss/objects/_menu.scss */
.main-menu__item + .main-menu__item {
  padding-top: 20px;
}

/* line 30, ../scss/objects/_menu.scss */
.main-menu__link {
  text-decoration: none;
  color: white;
  font-size: 24px;
  letter-spacing: 1.7px;
  font-weight: bold;
  text-transform: capitalize;
}
/* line 38, ../scss/objects/_menu.scss */
.main-menu__link:active, .main-menu__link:visited {
  color: white;
}
/* line 42, ../scss/objects/_menu.scss */
.main-menu__link:focus, .main-menu__link:hover {
  color: #EDD07F;
}

/* line 47, ../scss/objects/_menu.scss */
.mobile-menu__logo {
  width: 120px;
  height: auto;
  margin-bottom: 30px;
}

/* line 53, ../scss/objects/_menu.scss */
.mobile-menu__icon {
  font-size: 23px;
  position: absolute;
  right: 40px;
  top: 30px;
  z-index: 900;
}
/* line 60, ../scss/objects/_menu.scss */
.mobile-menu__icon > .icon-cross {
  color: white;
}
/* line 64, ../scss/objects/_menu.scss */
.mobile-menu__icon:hover {
  cursor: pointer;
}
/* line 68, ../scss/objects/_menu.scss */
.mobile-menu__icon:after {
  position: absolute;
  content: '';
  height: 60px;
  width: 60px;
  top: -10px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  /* Safari and Chrome */
  transform: translateX(-50%);
}

/* line 79, ../scss/objects/_menu.scss */
.mobile-menu__meta {
  list-style: none;
  padding: 40px 0 0;
  margin: 0;
}

/* line 85, ../scss/objects/_menu.scss */
.mobile-menu__meta-link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  color: white;
  text-decoration: none;
  font-size: 12px;
}
/* line 92, ../scss/objects/_menu.scss */
.mobile-menu__meta-link > i {
  font-size: 18px;
  padding-right: 10px;
}

/* line 98, ../scss/objects/_menu.scss */
.mobile-menu__meta-item {
  display: block;
}
/* line 100, ../scss/objects/_menu.scss */
.mobile-menu__meta-item + .mobile-menu__meta-item {
  margin-top: 10px;
}

@media screen and (min-width: 380px) {
  /* line 110, ../scss/objects/_menu.scss */
  .mobile-menu__meta-item {
    display: inline-block;
  }
  /* line 113, ../scss/objects/_menu.scss */
  .mobile-menu__meta-item + .mobile-menu__meta-item {
    margin-left: 20px;
    margin-top: 0;
  }
}
@media screen and (min-width: 768px) {
  /* line 133, ../scss/objects/_menu.scss */
  .main-nav {
    background: none;
    position: relative;
    top: auto;
    left: auto;
    height: auto;
    width: auto;
    padding: 0;
  }

  /* line 143, ../scss/objects/_menu.scss */
  .main-menu__item {
    display: inline;
  }
  /* line 146, ../scss/objects/_menu.scss */
  .main-menu__item + .main-menu__item {
    padding-left: 40px;
    padding-top: 0;
  }

  /* line 152, ../scss/objects/_menu.scss */
  .mobile-menu__logo,
  .mobile-menu__meta,
  .mobile-menu__icon {
    display: none;
  }

  /* line 158, ../scss/objects/_menu.scss */
  .main-menu__link {
    text-decoration: none;
    color: white;
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: 300;
    text-transform: lowercase;
  }
}
/* line 5, ../scss/objects/_helpers.scss */
.go-down {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  display: none;
}

/* line 13, ../scss/objects/_helpers.scss */
.go-down__icon {
  font-size: 30px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  z-index: 1;
  -webkit-transition: top 0.3s;
  -moz-transition: top 0.3s;
  -ms-transition: top 0.3s;
  -o-transition: top 0.3s;
  transition: top 0.3s;
  position: relative;
  top: 0;
}
/* line 21, ../scss/objects/_helpers.scss */
.go-down__icon:hover {
  top: 10px;
}

/* line 26, ../scss/objects/_helpers.scss */
.go-down__text {
  display: block;
  font-weight: 300;
  margin-bottom: 20px;
  font-size: 16px;
}

/* line 33, ../scss/objects/_helpers.scss */
.go-down--about {
  bottom: -200px;
}
/* line 36, ../scss/objects/_helpers.scss */
.go-down--about .go-down__icon {
  background: #d8d8d8;
  color: white;
}

/* line 43, ../scss/objects/_helpers.scss */
.go-down--consult .go-down__icon {
  background: #FAFAFA;
  color: #004B7C;
}

/* line 49, ../scss/objects/_helpers.scss */
.title-underline {
  border-bottom: 4px solid #FAFAFA;
  padding-bottom: 20px;
  margin-bottom: 30px;
}

/* line 55, ../scss/objects/_helpers.scss */
.go-to-link,
.go-to-section {
  color: white;
  text-decoration: none;
}
/* line 60, ../scss/objects/_helpers.scss */
.go-to-link:hover,
.go-to-section:hover {
  color: #EDD07F;
}

/* line 65, ../scss/objects/_helpers.scss */
.open-menu {
  display: block;
  opacity: 1;
}

/* line 70, ../scss/objects/_helpers.scss */
.close-menu {
  display: none;
}

/* line 74, ../scss/objects/_helpers.scss */
.no-scroll {
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  /* line 82, ../scss/objects/_helpers.scss */
  .go-down {
    display: block;
  }

  /* line 86, ../scss/objects/_helpers.scss */
  .go-down--consult {
    display: none;
  }

  /* line 90, ../scss/objects/_helpers.scss */
  .title-underline {
    margin-bottom: 50px;
  }

  /* line 94, ../scss/objects/_helpers.scss */
  .close-menu {
    display: block !important;
  }
}
@media screen and (min-width: 1200px) {
  /* line 105, ../scss/objects/_helpers.scss */
  .go-down--consult {
    display: block;
  }
}
/* line 5, ../scss/objects/_about.scss */
.about {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  font-weight: 300;
  position: relative;
  margin-bottom: 100px;
  padding: 70px 40px 0;
}

/* line 17, ../scss/objects/_about.scss */
.about-right > .services__titles {
  text-align: center;
}

/* line 22, ../scss/objects/_about.scss */
.main-logo {
  width: 120px;
  height: auto;
  margin-bottom: 50px;
  min-width: 120px;
}

/* line 29, ../scss/objects/_about.scss */
.headline p {
  font-size: 24px;
}

/* line 33, ../scss/objects/_about.scss */
.services {
  margin-bottom: 36px;
}

/* line 37, ../scss/objects/_about.scss */
.services__titles {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 0;
}
/* line 42, ../scss/objects/_about.scss */
.services__titles--blue {
  padding-top: 20px;
  background: #004B7C;
  color: #FAFAFA;
}

/* line 49, ../scss/objects/_about.scss */
.services__list {
  margin: 0;
  list-style: none;
  text-align: center;
}
/* line 54, ../scss/objects/_about.scss */
.services__list--blue {
  padding: 0 30px 20px;
  background: #004B7C;
  color: #FAFAFA;
}

@media screen and (min-width: 450px) {
  /* line 66, ../scss/objects/_about.scss */
  .about-left {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
  }

  /* line 70, ../scss/objects/_about.scss */
  .headline {
    margin-left: 50px;
  }
  /* line 73, ../scss/objects/_about.scss */
  .headline p {
    font-size: 18px;
  }
}
@media screen and (min-width: 500px) {
  /* line 85, ../scss/objects/_about.scss */
  .about-right > .services__titles {
    text-align: left;
  }

  /* line 91, ../scss/objects/_about.scss */
  .services__titles--blue {
    paddiing-top: 0;
    color: #333333;
    background: none;
  }

  /* line 98, ../scss/objects/_about.scss */
  .services__list {
    column-count: 2;
    -webkit-column-count: 2;
    -moz-column-count: 2;
    text-align: left;
  }
  /* line 101, ../scss/objects/_about.scss */
  .services__list--blue {
    padding: 0;
    background: none;
    color: #333333;
  }
}
@media screen and (min-width: 768px) {
  /* line 114, ../scss/objects/_about.scss */
  .about {
    margin-bottom: 360px;
  }
}
@media screen and (min-width: 1200px) {
  /* line 124, ../scss/objects/_about.scss */
  .about {
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between;
    -webkit-box-align: start;
    -ms-flex-align: start;
    -webkit-align-items: flex-start;
    -moz-align-items: flex-start;
    align-items: flex-start;
    padding: 0 40px;
  }

  /* line 131, ../scss/objects/_about.scss */
  .about-left {
    display: block;
  }

  /* line 135, ../scss/objects/_about.scss */
  .headline {
    margin-left: 0;
  }
  /* line 138, ../scss/objects/_about.scss */
  .headline p {
    font-size: 24px;
  }
}
/* line 5, ../scss/objects/_consult.scss */
.consult__header {
  width: 100vw;
  height: 300px;
  position: relative;
  overflow: hidden;
}

/* line 12, ../scss/objects/_consult.scss */
.consult__header-image {
  height: 300px;
  width: 100%;
  background-size: cover;
  background-position: 50% 50%;
}

/* line 19, ../scss/objects/_consult.scss */
.consult__types {
  position: relative;
  margin: 0 auto;
  max-width: 1140px;
  min-height: 120px;
}

/* line 26, ../scss/objects/_consult.scss */
.consult__types-inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
}

/* line 32, ../scss/objects/_consult.scss */
.consult__types-item {
  flex: 0 0 100%;
  position: relative;
  z-index: 1;
  font-weight: 300;
}
/* line 38, ../scss/objects/_consult.scss */
.consult__types-item:nth-child(odd) {
  background: #EEEEEE;
}
/* line 42, ../scss/objects/_consult.scss */
.consult__types-item:nth-child(even) {
  background: #FCFCF9;
  padding-left: 0;
}
/* line 47, ../scss/objects/_consult.scss */
.consult__types-item:hover {
  cursor: pointer;
}

/* line 52, ../scss/objects/_consult.scss */
.consult__dropdown {
  position: absolute;
  font-size: 23px;
  right: 35px;
  top: 35px;
}

/* line 59, ../scss/objects/_consult.scss */
.consult__types-title {
  font-family: "Ubuntu", sans-serif;
  margin: 0;
}

/* line 64, ../scss/objects/_consult.scss */
.consult__types-text {
  display: none;
  padding-right: 35px;
}
/* line 68, ../scss/objects/_consult.scss */
.consult__types-text p {
  margin-top: 20px;
  margin-bottom: 0;
}

/* line 74, ../scss/objects/_consult.scss */
.consult__types-item-inner {
  padding: 35px 60px 35px 35px;
}

@media screen and (min-width: 450px) {
  /* line 83, ../scss/objects/_consult.scss */
  .consult__types-item-inner {
    padding: 35px;
  }
}
@media screen and (min-width: 768px) {
  /* line 93, ../scss/objects/_consult.scss */
  .consult__header-image,
  .consult__header {
    height: 500px;
  }

  /* line 98, ../scss/objects/_consult.scss */
  .consult__types {
    margin: -98px auto 0;
    padding: 0 50px;
  }
}
@media screen and (min-width: 1200px) {
  /* line 109, ../scss/objects/_consult.scss */
  .consult__types {
    padding: 100px 0 50px;
    margin: 0 auto;
  }
  /* line 113, ../scss/objects/_consult.scss */
  .consult__types:before {
    position: absolute;
    content: '';
    left: 50%;
    margin-left: -50vw;
    top: 0;
    height: 100%;
    width: 50vw;
    background: #EEEEEE;
    z-index: 0;
  }

  /* line 126, ../scss/objects/_consult.scss */
  .consult__types-inner {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between;
  }

  /* line 130, ../scss/objects/_consult.scss */
  .consult__types-item {
    flex: 0 0 50%;
    padding-bottom: 50px;
  }
  /* line 134, ../scss/objects/_consult.scss */
  .consult__types-item:nth-child(odd) {
    padding-right: 40px;
    background: none;
  }
  /* line 139, ../scss/objects/_consult.scss */
  .consult__types-item:nth-child(even) {
    padding-left: 40px;
    background: none;
  }
  /* line 144, ../scss/objects/_consult.scss */
  .consult__types-item:hover {
    cursor: auto;
  }

  /* line 149, ../scss/objects/_consult.scss */
  .consult__dropdown {
    display: none;
  }

  /* line 153, ../scss/objects/_consult.scss */
  .consult__types-text {
    display: block;
  }

  /* line 157, ../scss/objects/_consult.scss */
  .consult__types-title {
    font-family: "Ubuntu", sans-serif;
  }

  /* line 161, ../scss/objects/_consult.scss */
  .consult__types-item-inner {
    max-width: 500px;
    margin: 0 auto;
  }
}
/* line 5, ../scss/objects/_industry.scss */
.industry__header {
  font-size: 0;
  letter-spacing: 0;
}

/* line 10, ../scss/objects/_industry.scss */
.industry__header-image {
  display: none;
}

/* line 14, ../scss/objects/_industry.scss */
.industry__types {
  position: relative;
  z-index: 10;
}

/* line 19, ../scss/objects/_industry.scss */
.industry__dropdown {
  position: absolute;
  font-size: 23px;
  right: 35px;
  top: 53px;
}

/* line 26, ../scss/objects/_industry.scss */
.industry__types-item {
  padding: 35px 60px 35px 35px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: end;
  -ms-flex-align: end;
  -webkit-align-items: flex-end;
  -moz-align-items: flex-end;
  align-items: flex-end;
  position: relative;
}
/* line 33, ../scss/objects/_industry.scss */
.industry__types-item:nth-child(odd) {
  background: #EEEEEE;
}
/* line 37, ../scss/objects/_industry.scss */
.industry__types-item:nth-child(even) {
  background: #FCFCF9;
}
/* line 41, ../scss/objects/_industry.scss */
.industry__types-item:hover {
  cursor: pointer;
}

/* line 46, ../scss/objects/_industry.scss */
.industry__types-image {
  height: auto;
  width: 60px;
}
/* line 50, ../scss/objects/_industry.scss */
.industry__types-image--mobile {
  display: block;
  position: relative;
  margin-bottom: 30px;
}
/* line 56, ../scss/objects/_industry.scss */
.industry__types-image--desktop {
  display: none;
  top: 35px;
  left: 35px;
  position: absolute;
}

/* line 64, ../scss/objects/_industry.scss */
.industry__types-content {
  font-weight: 300;
}

/* line 68, ../scss/objects/_industry.scss */
.industry__types-title {
  font-size: 16px;
  font-family: "Ubuntu", sans-serif;
  margin-top: 18px;
}

/* line 74, ../scss/objects/_industry.scss */
.industry__types-text {
  display: none;
  margin: 30px 0 0;
  font-size: 16px;
}
/* line 78, ../scss/objects/_industry.scss */
.industry__types-text p {
  margin: 0;
}

@media screen and (min-width: 450px) {
  /* line 88, ../scss/objects/_industry.scss */
  .industry__types-item {
    padding: 35px;
  }
}
@media screen and (min-width: 768px) {
  /* line 108, ../scss/objects/_industry.scss */
  .industry__types-image--mobile {
    display: none;
  }
  /* line 112, ../scss/objects/_industry.scss */
  .industry__types-image--desktop {
    display: block;
  }

  /* line 117, ../scss/objects/_industry.scss */
  .industry__types-title {
    margin-left: 100px;
  }

  /* line 121, ../scss/objects/_industry.scss */
  .industry__types {
    margin: -98px auto 0;
    padding: 0 50px;
  }

  /* line 126, ../scss/objects/_industry.scss */
  .industry__header {
    margin-top: -60px;
  }

  /* line 130, ../scss/objects/_industry.scss */
  .industry__header-image {
    display: inline-block;
    width: 50%;
    height: 420px;
    background-size: cover;
    background-position: 50% 50%;
  }
}
@media screen and (min-width: 1200px) {
  /* line 145, ../scss/objects/_industry.scss */
  .industry__types {
    margin: 150px auto;
    padding: 10px 50px 0;
  }

  /* line 150, ../scss/objects/_industry.scss */
  .industry__header {
    margin: 0;
  }

  /* line 154, ../scss/objects/_industry.scss */
  .industry__header-image {
    height: 790px;
  }

  /* line 158, ../scss/objects/_industry.scss */
  .industry__types-image {
    height: 150px;
    width: auto;
    min-width: 150px;
    margin-right: 130px;
    position: relative;
    left: auto;
    top: -6px;
  }

  /* line 168, ../scss/objects/_industry.scss */
  .industry__types-item {
    padding: 80px 0 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: end;
    -ms-flex-align: end;
    -webkit-align-items: flex-end;
    -moz-align-items: flex-end;
    align-items: flex-end;
  }
  /* line 174, ../scss/objects/_industry.scss */
  .industry__types-item:nth-child(odd) {
    background: none;
  }
  /* line 178, ../scss/objects/_industry.scss */
  .industry__types-item:nth-child(even) {
    background: none;
    padding-left: 0;
  }
  /* line 183, ../scss/objects/_industry.scss */
  .industry__types-item:hover {
    cursor: auto;
  }

  /* line 188, ../scss/objects/_industry.scss */
  .industry__dropdown {
    display: none;
  }

  /* line 192, ../scss/objects/_industry.scss */
  .industry__types-title {
    font-size: 24px;
    font-family: "Ubuntu", sans-serif;
    margin: 0;
  }

  /* line 198, ../scss/objects/_industry.scss */
  .industry__types-text {
    display: block;
    margin: 15px 0 0;
    font-size: 24px;
  }

  /* line 204, ../scss/objects/_industry.scss */
  .industry__types-content {
    font-weight: 300;
  }
}
/* line 5, ../scss/objects/_team.scss */
.team__content {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: reverse;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column-reverse;
  -moz-flex-direction: column-reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
}
/* line 10, ../scss/objects/_team.scss */
.team__content > .team__content-text {
  margin-top: 30px;
}

/* line 15, ../scss/objects/_team.scss */
.team__slider {
  width: 100%;
}
/* line 18, ../scss/objects/_team.scss */
.team__slider .owl-nav {
  position: absolute;
  top: calc(50% - 57px);
  left: 0;
  width: 100%;
}
/* line 25, ../scss/objects/_team.scss */
.team__slider .owl-prev,
.team__slider .owl-next {
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  position: absolute;
  color: #EDD07F;
}
/* line 30, ../scss/objects/_team.scss */
.team__slider .owl-prev:before,
.team__slider .owl-next:before {
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
}
/* line 41, ../scss/objects/_team.scss */
.team__slider .owl-next {
  right: -40px;
}
/* line 44, ../scss/objects/_team.scss */
.team__slider .owl-next:hover {
  right: -50px;
}
/* line 48, ../scss/objects/_team.scss */
.team__slider .owl-next:before {
  content: '\e900';
}
/* line 52, ../scss/objects/_team.scss */
.team__slider .owl-prev {
  left: -40px;
}
/* line 55, ../scss/objects/_team.scss */
.team__slider .owl-prev:hover {
  left: -50px;
}
/* line 59, ../scss/objects/_team.scss */
.team__slider .owl-prev:before {
  content: '\e901';
}

/* line 65, ../scss/objects/_team.scss */
.team__slider-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: inline-block;
}

/* line 72, ../scss/objects/_team.scss */
.team__slider-meta {
  font-size: 14px;
  text-align: left;
  font-weight: 300;
}

/* line 78, ../scss/objects/_team.scss */
.team__slider-meta-item {
  margin: 0;
  line-height: 24px;
}
/* line 82, ../scss/objects/_team.scss */
.team__slider-meta-item:first-child {
  font-weight: 700;
}
/* line 86, ../scss/objects/_team.scss */
.team__slider-meta-item a {
  color: #FAFAFA;
  text-decoration: none;
}
/* line 90, ../scss/objects/_team.scss */
.team__slider-meta-item a:hover {
  color: #EDD07F;
}

@media screen and (min-width: 768px) {
  /* line 101, ../scss/objects/_team.scss */
  .team {
    margin-top: -40px;
  }

  /* line 105, ../scss/objects/_team.scss */
  .team__intro-title {
    margin-top: 30px;
  }

  /* line 110, ../scss/objects/_team.scss */
  .team__slider .owl-nav {
    width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  /* line 122, ../scss/objects/_team.scss */
  .team {
    margin-top: 0;
  }

  /* line 126, ../scss/objects/_team.scss */
  .team__intro-title {
    margin-top: 0;
  }

  /* line 130, ../scss/objects/_team.scss */
  .team__intro-title--notext {
    margin-left: 80px;
  }

  /* line 134, ../scss/objects/_team.scss */
  .team__content {
    display: block;
  }
  /* line 137, ../scss/objects/_team.scss */
  .team__content > .team__content-text {
    width: 320px;
    margin-right: 40px;
    margin-top: 0;
  }

  /* line 146, ../scss/objects/_team.scss */
  .team__content--empty .team__slider {
    position: relative;
  }
  /* line 150, ../scss/objects/_team.scss */
  .team__content--empty .team__slider-list {
    left: 0;
  }
  /* line 154, ../scss/objects/_team.scss */
  .team__content--empty .team__slider--2items.team__slider-list {
    left: 180px;
  }

  /* line 159, ../scss/objects/_team.scss */
  .team__slider {
    position: absolute;
    top: 0;
    left: 40px;
    height: 100%;
    width: 100%;
  }
  /* line 166, ../scss/objects/_team.scss */
  .team__slider .owl-nav {
    width: 49%;
  }

  /* line 172, ../scss/objects/_team.scss */
  .team__slider--notext .owl-nav {
    width: 100% !important;
  }

  /* line 177, ../scss/objects/_team.scss */
  .team__slider-list {
    left: 360px;
  }

  /* line 182, ../scss/objects/_team.scss */
  .team__slider--2items .owl-nav {
    width: 100% !important;
  }

  /* line 188, ../scss/objects/_team.scss */
  .team__slider-list--text .owl-item {
    width: auto !important;
  }
  /* line 192, ../scss/objects/_team.scss */
  .team__slider-list--text .team__slider-item {
    height: 370px;
  }
  /* line 196, ../scss/objects/_team.scss */
  .team__slider-list--text .owl-item img {
    height: 300px;
    width: auto;
  }
}
@media screen and (min-width: 1440px) {
  /* line 209, ../scss/objects/_team.scss */
  .team__slider .owl-nav {
    width: 75%;
  }

  /* line 215, ../scss/objects/_team.scss */
  .team__slider--notext .owl-nav {
    width: 100% !important;
  }
}
/* line 5, ../scss/objects/_contact.scss */
.contact {
  height: calc(100% + 100px);
  background: #FAFAFA;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}

/* line 11, ../scss/objects/_contact.scss */
.contact-anchor {
  display: block;
  position: relative;
  visibility: hidden;
  top: -80px;
}

/* line 18, ../scss/objects/_contact.scss */
.contact-block {
  position: absolute;
  width: 100%;
}

/* line 23, ../scss/objects/_contact.scss */
.contact__intro-title {
  color: black;
  border-color: black;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  /* Safari and Chrome */
  transform: translateX(-50%);
  z-index: 10;
  margin-top: 50px;
}

/* line 33, ../scss/objects/_contact.scss */
.contact-content {
  width: 295px;
  height: 530px;
  background: #004B7C;
  position: absolute;
  z-index: 10;
  top: 260px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  /* Safari and Chrome */
  transform: translateX(-50%);
  padding: 40px 30px;
  text-align: center;
  margin-bottom: 100px;
}

/* line 47, ../scss/objects/_contact.scss */
.contact-logo {
  margin: 0 auto 50px;
}

/* line 51, ../scss/objects/_contact.scss */
.contact-block__list {
  padding: 0;
  list-style: none;
  color: #FAFAFA;
  font-weight: 300;
  font-size: 24px;
}

/* line 59, ../scss/objects/_contact.scss */
.contact-block__link {
  color: #FAFAFA;
  text-decoration: none;
}
/* line 63, ../scss/objects/_contact.scss */
.contact-block__link:hover, .contact-block__link:focus, .contact-block__link:active {
  color: #EDD07F;
}

/* line 68, ../scss/objects/_contact.scss */
.contact-map {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 auto;
  -moz-box-flex: 0;
  -moz-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  height: calc(100vh + 160px);
  width: 100%;
  overflow: hidden;
}

/* line 75, ../scss/objects/_contact.scss */
#map {
  width: 100%;
  height: 100%;
  background-color: grey;
}

@media screen and (min-width: 400px) {
  /* line 86, ../scss/objects/_contact.scss */
  .contact-map {
    height: calc(100vh + 100px);
  }
}
@media screen and (min-width: 768px) {
  /* line 97, ../scss/objects/_contact.scss */
  .contact-content {
    top: 195px;
    left: 50px;
    -webkit-transform: translateX(0);
    /* Safari and Chrome */
    transform: translateX(0);
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  /* line 111, ../scss/objects/_contact.scss */
  .contact {
    height: 100%;
    background: #FAFAFA;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
  }

  /* line 117, ../scss/objects/_contact.scss */
  .contact-block {
    background: #004B7C;
    width: 650px;
    height: 100vh;
    text-align: center;
    padding: 50px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 650px;
    -moz-box-flex: 0;
    -moz-flex: 0 0 650px;
    -ms-flex: 0 0 650px;
    flex: 0 0 650px;
    position: relative;
  }

  /* line 127, ../scss/objects/_contact.scss */
  .contact-content {
    width: auto;
    height: auto;
    position: relative;
    top: auto;
    left: auto;
  }

  /* line 135, ../scss/objects/_contact.scss */
  .contact__intro-title {
    margin-bottom: 150px;
    margin-top: 0;
    left: auto;
    transform: translateY(0);
  }

  /* line 142, ../scss/objects/_contact.scss */
  .contact-logo {
    margin: 0 auto 50px;
  }

  /* line 146, ../scss/objects/_contact.scss */
  .contact-block__list {
    margin: 0 0 270px;
    padding: 0;
    list-style: none;
    color: #FAFAFA;
    font-weight: 300;
    font-size: 24px;
  }

  /* line 155, ../scss/objects/_contact.scss */
  .contact-block__link {
    color: #FAFAFA;
    text-decoration: none;
  }
  /* line 159, ../scss/objects/_contact.scss */
  .contact-block__link:hover, .contact-block__link:focus, .contact-block__link:active {
    color: #EDD07F;
  }

  /* line 164, ../scss/objects/_contact.scss */
  .contact-map {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 auto;
    -moz-box-flex: 0;
    -moz-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    height: 100vh;
    width: 100%;
    overflow: hidden;
  }

  /* line 171, ../scss/objects/_contact.scss */
  #map {
    width: 100%;
    height: 100vh;
    background-color: grey;
  }
}
