// ==========================================================================
// SETTINGS - Variables
// ==========================================================================


// Main Colors
// ==========================================================================
$traesor: #073C5F;
$navy: #004B7C;
$flax: #EDD07F;
$marble: #EEEEEE;

$white: #FAFAFA;
$black: #333333;
$none: rgba(0,0,0,0.0);
$color-base: $black;

// ==========================================================================
// Font Family
// ==========================================================================


$font-sans: 'Ubuntu', sans-serif;
$font-serif: 'Playfair Display', serif;
$icons: 'icomoon';
$base-font-family: $font-sans;

$font-base: $font-sans;
$font-titles: $font-serif;

// ==========================================================================
// Font Sizes
// ==========================================================================

$fontsize-xsmall: 12px;

$fontsize-small: 14px;

$fontsize-base-mobile: 16px;
$fontsize-base: 16px;

$fontsize-h1-mobile: 36px;
$fontsize-h1: 36px;

$fontsize-h2-mobile: 24px;
$fontsize-h2: 24px;

$fontsize-h3-mobile: 18px;
$fontsize-h3: 20px;

$fontsize-h4-mobile: 16px;
$fontsize-h4: 18px;

$fontsize-h5-mobile: 16px;
$fontsize-h5: 16px;

$fontsize-h6-mobile: 14px;
$fontsize-h6: 15px;

$fontsize-quote-m: 26px;
$fontsize-quote-d: 30px;

// ==========================================================================
// Line Heights
// ==========================================================================

$lineheight-base: 1.75;
$lineheight-titles: 1.75;

// ==========================================================================
// Letter Spacings
// ==========================================================================

$letterspacing-base: 0.5px;
$letterspacing-titles: 1px;

// ==========================================================================
// Transition
// ==========================================================================

$normal-transition: all .3s ease;
$color-transition: color .3s ease;

