@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?14wnhr');
  src:  url('fonts/icomoon.eot?14wnhr#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?14wnhr') format('truetype'),
    url('fonts/icomoon.woff?14wnhr') format('woff'),
    url('fonts/icomoon.svg?14wnhr#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arow-right:before {
  content: "\e900";
}
.icon-arrow-left:before {
  content: "\e901";
}
.icon-cross:before {
  content: "\e902";
}
.icon-map-maker:before {
  content: "\e903";
}
.icon-menu:before {
  content: "\e904";
}
.icon-plus:before {
  content: "\e905";
}
.icon-phone:before {
  content: "\e0cd";
}
.icon-mail:before {
  content: "\e159";
}
.icon-caret-down:before {
  content: "\e313";
}

