// ==========================================================================
// BASE - Base links
// ==========================================================================

a {
  color: black;
  text-decoration: underline;
  transition: color .3s ease;

  &:hover {
    color: $flax;
  }

  &:active {
    color: inherit;
  }

  &:visited {
    color: inherit;
  }
}
