// ==========================================================================
// BASE - Lists
// ==========================================================================

ul,
ol {
  display: block;
  padding: 0 0 0 20px;
  margin: 0;
}

ol {
  list-style-type: decimal;
  list-style-position: inside;
  padding-left: 0;
}

ul {
  list-style-type: disc;
}
