// ==========================================================================
// BASE - Typography
// ==========================================================================

p {
  margin: 0 0 1.5em;
  letter-spacing: $letterspacing-base;
}

address {
  font-style: normal;
}

b,
strong {
  font-weight: bold;
}

i,
em {
  font-style: italic;
}

blockquote,
q {
  font-family: $font-serif;
  font-size: $fontsize-h2;
  line-height: $lineheight-titles;
  letter-spacing: $letterspacing-base;
  color: $black;
  font-weight: bold;
  font-style: italic;
  position: relative;

  p {
    margin: 0;
    display: inline;
  }

  &:before {
    position: absolute;
    content: '“';
    font-size: 30px;
    width: 20px;
    height: 20px;
    top: 0;
    left: -20px;
  }

  &:after {
    position: absolute;
    content: '”';
    width: 22px;
    height: 22px;
  }
}