<section id="about" class="about block">
	<div class="about-left inner-block">
		<img class="main-logo" src="{{site.theme.link}}/img/logo-traesor.svg"/>
		<div class="headline">
			{{post.get_field('headline')}}
		</div>
	</div>
	<div class="about-right inner-block">
		<div class="services">
		<p class="services__titles">What we do</p>
		{{post.get_field('what_we_do')}}
		</div>
		<p class="services__titles services__titles--blue">Services</p>
		<ul class="services__list services__list--blue">
		  {% for item in post.get_field('services') %}
		  	<li class="services__list-item">{{item.service}}</li>
		  {% endfor %}
		</ul>
	</div>
	
	<div class="go-down go-down--about">
		<a class="go-to-section" href="#consultancy">
			<i class="go-down__icon icon-caret-down" aria-hidden="true"></i>
		</a>
	</div>
</section>