<section class="consult">
<div class="consult__header">
	<div class="consult__header-image" style="background-image: url({{TimberImage(post.get_field('consultancy_header_image')).src}})">
	</div>
</div>

<div id="consultancy" class="consult__intro block">
	<h1 class="consult__intro-title title-underline">{{post.get_field('consulting_title')}}</h1>
	{{post.get_field('consulting_introduction_text')}}
	<div class="go-down go-down--consult">
		<a class="go-to-link" href="#consultancy-section">
			<span class="go-down__text">see what we have to offer</span>
			<i class="go-down__icon icon-caret-down"></i>
	</a>
	</div>
</div>
<div id="consultancy-section" class="consult__types">
	<div class="consult__types-inner">
		{% for item in post.get_field('consultancy_types') %}
			<div class="consult__types-item">
				<div class="consult__types-item-inner">
					<i class="consult__dropdown icon-plus"></i>
					<h5 class="consult__types-title">{{item.consultancy_type_title}}</h5>
					<div class="consult__types-text">{{item.consultancy_type_description}}</div>
				</div>
			</div>
		{% endfor %}
	</div>
</div>

</section>