<section class="contact">
	<a class="contact-anchor" id="contact"></a>
	<div class="contact-block">
		<h1 class="contact__intro-title title-underline">Contact</h1>
		<div class="contact-content">
			<div class="contact-logo">
				<svg xmlns="http://www.w3.org/2000/svg" width="102.048" height="102.05">
				  <g fill="none" stroke="#FAFAFA">
				    <ellipse cx="50.858" cy="51.024" rx="29.167" ry="36.001"/>
				    <ellipse cx="51.025" cy="51.024" rx="15.75" ry="36.001"/>
				    <path d="M51.024 87.024v-72m-36 36h72m-67.5 18h63m-63-36h63"/>
				    <circle cx="51.024" cy="51.024" r="36"/>
				  </g>
				  <g fill="#FAFAFA" font-family="'Times-Roman'">
				    <text transform="matrix(.884 -.656 .596 .803 24.574 22.08)" font-size="12">
				      T
				    </text>
				    <text transform="matrix(1 -.46 .418 .908 30.7 17.436)" font-size="11.999">
				      R
				    </text>
				    <text transform="matrix(1.077 -.227 .206 .98 38.294 13.845)" font-size="12">
				      A
				    </text>
				    <text transform="matrix(1.1 .007 -.006 1 47.23 12)" font-size="12">
				      E
				    </text>
				    <text transform="matrix(1.08 .21 -.192 .98 54.944 12.048)" font-size="12">
				      S
				    </text>
				    <text transform="matrix(1.014 .43 -.39 .92 61.828 13.24)" font-size="12">
				      O
				    </text>
				    <text transform="matrix(.893 .644 -.585 .81 70.224 16.782)" font-size="12">
				      R
				    </text>
				    <text transform="matrix(-.884 .656 -.596 -.803 77.476 79.973)" font-size="11.999">
				      T
				    </text>
				    <text transform="matrix(-1 .46 -.418 -.908 71.35 84.613)" font-size="11.999">
				      R
				    </text>
				    <text transform="matrix(-1.077 .227 -.206 -.98 63.756 88.205)" font-size="12">
				      A
				    </text>
				    <text transform="matrix(-1.1 -.007 .006 -1 54.82 90.05)" font-size="12">
				      E
				    </text>
				    <text transform="matrix(-1.08 -.21 .192 -.98 47.105 90.003)" font-size="12">
				      S
				    </text>
				    <text transform="matrix(-1.014 -.43 .39 -.92 40.223 88.81)" font-size="12">
				      O
				    </text>
				    <text transform="matrix(-.893 -.644 .585 -.81 31.825 85.268)" font-size="12">
				      R
				    </text>
				    <text transform="matrix(-.656 -.884 .803 -.596 22.08 77.473)" font-size="12">
				      T
				    </text>
				    <text transform="matrix(-.46 -1 .908 -.418 17.436 71.348)" font-size="12.001">
				      R
				    </text>
				    <text transform="matrix(-.227 -1.077 .98 -.206 13.844 63.753)" font-size="12">
				      A
				    </text>
				    <text transform="matrix(.007 -1.1 1 .006 12 54.816)" font-size="12">
				      E
				    </text>
				    <text transform="matrix(.21 -1.08 .98 .192 12.048 47.104)" font-size="12">
				      S
				    </text>
				    <text transform="matrix(.43 -1.014 .92 .39 13.24 40.22)" font-size="12">
				      O
				    </text>
				    <text transform="matrix(.644 -.893 .81 .585 16.783 31.823)" font-size="12">
				      R
				    </text>
				    <text transform="matrix(.656 .884 -.803 .596 79.968 24.574)" font-size="11.999">
				      T
				    </text>
				    <text transform="matrix(.46 1 -.908 .418 84.613 30.7)" font-size="12.001">
				      R
				    </text>
				    <text transform="matrix(.227 1.077 -.98 .206 88.204 38.294)" font-size="12">
				      A
				    </text>
				    <text transform="matrix(-.007 1.1 -1 -.006 90.05 47.23)" font-size="12">
				      E
				    </text>
				    <text transform="matrix(-.21 1.08 -.98 -.192 90 54.945)" font-size="12">
				      S
				    </text>
				    <text transform="matrix(-.43 1.014 -.92 -.39 88.81 61.828)" font-size="12">
				      O
				    </text>
				    <text transform="matrix(-.644 .893 -.81 -.585 85.267 70.224)" font-size="12">
				      R
				    </text>
				  </g>
				  <g fill="#FAFAFA">
				    <circle cx="81.253" cy="20.795" r="2.25"/>
				    <circle cx="81.254" cy="81.253" r="2.25"/>
				    <circle cx="20.796" cy="81.254" r="2.25"/>
				    <circle cx="20.796" cy="20.795" r="2.25"/>
				  </g>
				</svg>
			</div>
			<ul class="contact-block__list">
				<li class="contact-block__list-item"><strong>Traesor</strong></li>
				<li class="contact-block__list-item">Keizersgracht 453</li>
				<li class="contact-block__list-item">1017 DK Amsterdam</li>
				<li class="contact-block__list-item">The Netherlands</li>
				<li class="contact-block__list-item">&nbsp;</li>
				<li class="contact-block__list-item"><a href="tel:0031204204430" class="contact-block__link">+31 (0)6 21 22 6114</a></li>
				<li class="contact-block__list-item"><a href="mailto:info@traesor.com" class="contact-block__link">info@traesor.com</a></li>			
			</ul>
	</div>
	</div>
	<div class="contact-map">
		<div id="map"></div>
	</div>
</section>