		<!--
	0: {lat: 52.360973, lng: 4.886727};
	768: {lat: 52.365783, lng: 4.882566};
	1200: {lat: 52.365783, lng: 4.886566};
	-->


	<script>
      function initMap(viewportLocation) {
        var office = {lat: 52.366358, lng: 4.886598};
        var pos = viewportLocation;
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 15,
          center: pos,
          styles: [{"featureType":"water","elementType":"geometry","stylers":[{"color":"#e9e9e9"},{"lightness":17}]},{"featureType":"landscape","elementType":"geometry","stylers":[{"color":"#f5f5f5"},{"lightness":20}]},{"featureType":"road.highway","elementType":"geometry.fill","stylers":[{"color":"#ffffff"},{"lightness":17}]},{"featureType":"road.highway","elementType":"geometry.stroke","stylers":[{"color":"#ffffff"},{"lightness":29},{"weight":0.2}]},{"featureType":"road.arterial","elementType":"geometry","stylers":[{"color":"#ffffff"},{"lightness":18}]},{"featureType":"road.local","elementType":"geometry","stylers":[{"color":"#ffffff"},{"lightness":16}]},{"featureType":"poi","elementType":"geometry","stylers":[{"color":"#f5f5f5"},{"lightness":21}]},{"featureType":"poi.park","elementType":"geometry","stylers":[{"color":"#dedede"},{"lightness":21}]},{"elementType":"labels.text.stroke","stylers":[{"visibility":"on"},{"color":"#ffffff"},{"lightness":16}]},{"elementType":"labels.text.fill","stylers":[{"saturation":36},{"color":"#333333"},{"lightness":40}]},{"elementType":"labels.icon","stylers":[{"visibility":"off"}]},{"featureType":"transit","elementType":"geometry","stylers":[{"color":"#f2f2f2"},{"lightness":19}]},{"featureType":"administrative","elementType":"geometry.fill","stylers":[{"color":"#fefefe"},{"lightness":20}]},{"featureType":"administrative","elementType":"geometry.stroke","stylers":[{"color":"#fefefe"},{"lightness":17},{"weight":1.2}]}],
				  zoomControl: true,
				  mapTypeControl: false,
				  scaleControl: false,
				  streetViewControl: false,
				  rotateControl: false,
				  fullscreenControl: false,
				  disableDefaultUI: true,
				  scrollwheel: false
        });

				var iconBase = '{{theme.link}}/img/';
			  var marker = new google.maps.Marker({
			    position: office,
			    map: map,
			    icon: iconBase + 'marker.svg'
			  });

				function calculateViewport() {
					var w = window.innerWidth;
				  if(w < 767) {
				  	initMap({lat: 52.360973, lng: 4.886727});
				  } else if (w >= 768 && w < 1199) {
				  	initMap({lat: 52.366783, lng: 4.882966});
				  } else {
				  	initMap({lat: 52.365783, lng: 4.886566});
				  }
				}

				google.maps.event.addDomListener(window, 'load', function() {
					calculateViewport();
				});

				google.maps.event.addDomListener(window, 'resize', function() {
					var w = window.innerWidth;
					if (w > 480) {
						calculateViewport();
					}
				});
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAta26679IeP79Gy7uiLN4LvHv_EnVwMUo&callback=initMap">
    </script>