<header class="header" >
	{% block header %}
		{% include "menu.twig" with {'menu': menu.get_items} %}
	{% endblock %}
	<div class="mobile-menu__icon">
		<i class="mobile-icon icon-menu"></i>
	</div>
</header>