<!doctype html>
<!--[if lt IE 7]><html class="no-js ie ie6 lt-ie9 lt-ie8 lt-ie7" {{site.language_attributes}}> <![endif]-->
<!--[if IE 7]><html class="no-js ie ie7 lt-ie9 lt-ie8" {{site.language_attributes}}> <![endif]-->
<!--[if IE 8]><html class="no-js ie ie8 lt-ie9" {{site.language_attributes}}> <![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" {{site.language_attributes}}> <!--<![endif]-->
<head>
    <meta charset="{{site.charset}}" />
        <title>   
            {% if wp_title %}
                {{ wp_title }} - {{ site.name }}
            {% else %}
                {{ site.name }}
            {% endif %}
        </title>
    <meta name="description" content="{{site.description}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.6/assets/owl.carousel.min.css" />
    <link rel="stylesheet" href="{{site.theme.link}}/fonts/icomoon/style.css" type="text/css" media="screen" />    
    <link rel="stylesheet" href="{{site.theme.link}}/css/style.css" type="text/css" media="screen" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="pingback" href="{{site.pingback_url}}" />
    <link rel="apple-touch-icon" sizes="180x180" href="{{theme.link}}/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="{{theme.link}}/favicon/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="{{theme.link}}/favicon/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="{{theme.link}}/favicon/manifest.json">
    <link rel="mask-icon" href="{{theme.link}}/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="{{theme.link}}/favicon/favicon.ico">
    <meta name="msapplication-config" content="{{theme.link}}/favicon/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    {{function('wp_head')}}
