<section class="industry">
	<div class="industry__header">
		<div class="industry__header-image" style="background-image: url({{TimberImage(post.get_field('industries_header_image_left')).src}})"></div>
		<div class="industry__header-image" style="background-image: url({{TimberImage(post.get_field('industries_header_image_right')).src}})"></div>
	</div>
	<div id="industries" class="industry__intro block">
		<h1 class="industry__intro-title title-underline">{{post.get_field('industries_title')}}</h1>
		{{post.get_field('industries_introduction_text')}}
		<div class="go-down go-down--consult">
		<a href="#industry-section" class="go-to-link">
			<span class="go-down__text">see our expertises</span>
			<i class="go-down__icon icon-caret-down"></i>
		</a>
		</div>
	</div>
	<div id="industry-section" class="industry__types block">
	{% for item in post.get_field('industry_type') %}
	<div class="industry__types-item">
		<i class="industry__dropdown icon-plus"></i>
		<img class="industry__types-image industry__types-image--desktop" src="{{item.industry_icon}}" />
		<div class="industry__types-content">
		<h2 class="industry__types-title">{{item.industry_type_title}}</h2>
		<div class="industry__types-text">
			<img class="industry__types-image industry__types-image--mobile" src="{{item.industry_icon}}" />
			{{item.industry_type_description}}
		</div>
		</div>
	</div>
	{% endfor %}
	</div>
</section>