{% if menu %}
<nav id="main-nav" class="main-nav close-menu" role="navigation">
	<img class="mobile-menu__logo" src="{{site.theme.link}}/img/logo-traesor-w.svg"/>
	<ul class="main-menu">
	{% for item in menu | slice(0, 4) %}
		<li class="main-menu__item link-{{item.title | replace(' ', '-')}} {{item.classes | join(' ')}}">
			<a href="{{item.get_link}}" class="main-menu__link menu-smooth">{{item.title}}</a>
		</li>
	{% endfor %}
	{% for item in menu | slice(4) %}
		<li class="main-menu__item link-{{item.title | replace(' ', '-')}} {{item.classes | join(' ')}}">
			<a href="{{item.get_link}}" class="main-menu__link">{{item.title}}</a>
		</li>
	{% endfor %}
	</ul>
	<ul class="mobile-menu__meta">
		<li class="mobile-menu__meta-item"><a class="mobile-menu__meta-link" href="tel:0031204204430"><i class="icon-phone"></i>+31 (0)20 420 4430</a></li>
		<li class="mobile-menu__meta-item"><a class="mobile-menu__meta-link" href="mailto:info@traesor.com"><i class="icon-mail"></i>info@traesor.com</a></li>
	</ul>
</nav>
{% endif %}
