{% extends "base.twig" %}

{% block content %}
	{% include 'about.twig' %}
	{% include 'consultancy.twig' %}
	{% include 'industry.twig' %}
	{% include 'team.twig' %}
	{% include 'contact.twig' %}
{% endblock %}