<section class="team">
	<div class="team__intro block {% if post.get_field('team_introduction_text') is empty %} team__intro--notext	{% endif %}">
		<h1 id="team" class="team__intro-title title-underline {% if post.get_field('team_introduction_text') is empty %} team__intro-title--notext	{% endif %}">{{post.get_field('team_title')}}</h1>

		{% if post.get_field('team_introduction_text') is not empty %}
			<div class="team__content">
		{% else %}
			<div class="team__content team__content--empty">
		{% endif %}

		{% if post.get_field('team_introduction_text') is not empty %}
			<p class="team__content-text">{{post.get_field('team_introduction_text')}}</p>
		{% endif %}
			<div class="team__slider {% if post.get_field('team_introduction_text') is empty %} team__slider--notext{% endif %} ">
				<ul id="team-slider" class="owl-carousel team__slider-list {% if post.get_field('team_slider')|length < 3 %}team__slider--2items {% endif %} {% if post.get_field('team_introduction_text') is not empty %} team__slider-list--text{% endif %}">
					{% for item in post.get_field('team_slider') %}
						<li class="team__slider-item">
							<img class="team__slider-image" src="{{item.team_member_photo}}" />
							<div class="team__slider-meta">
								<p class="team__slider-meta-item">{{item.team_member_name}}</p>
								<p class="team__slider-meta-item">{{item.team_member_title}}</p>
								<p class="team__slider-meta-item"><a href="mailto:{{item.team_member_email}}">{{item.team_member_email}}</a></p>
								<p class="team__slider-meta-item"><a href="tel:{{item.team_member_phone}}">{{item.team_member_phone}}</a></p>
							</div>
						</li>
					{% endfor %}
				</ul>
			</div>
		</div>
	</div>
</section>

