// ==========================================================================
// OBJECTS - About
// ========================================================================== 

.about {
	@include flexbox;
	@include flex-direction(column);
	@include justify-content(center);
	@include align-items(center);
	font-weight: 300;
	position: relative;
	margin-bottom: 100px;
	padding: 70px 40px 0;
}

.about-right {
	> .services__titles {
		text-align: center;
	}
}

.main-logo {
	width: 120px;
	height: auto;
	margin-bottom: 50px;
	min-width: 120px;
}

.headline p {
	font-size: $fontsize-h2;
}

.services {
	margin-bottom: 36px;
}

.services__titles {
	font-size: $fontsize-h5;
	font-weight: 700;
	margin-bottom: 0;

	&--blue {
		padding-top: 20px;
		background: $navy;
		color: $white;
	}
}

.services__list {
	margin: 0;
	list-style: none;
	text-align: center;

	&--blue {
		padding: 0 30px 20px;
		background: $navy;
		color: $white;	
	}
}

// ==========================================================================
// 450px;
// ========================================================================== 

@media screen and (min-width: 450px) {
	.about-left {
		@include flexbox;
	}

	.headline {
		margin-left: 50px;

		p {
			font-size: $fontsize-h4;
		}
	}
}

// ==========================================================================
// 500px;
// ========================================================================== 

@media screen and (min-width: 500px) {
	.about-right {
		> .services__titles {
			text-align: left;
		}
	}

	.services__titles {
		&--blue {
			paddiing-top: 0;
			color: $black;
			background: none;
		}
	}
	
	.services__list {
		@include column-count(2);
		text-align: left;
		&--blue {
			padding: 0;
			background: none;
			color: $black;
		}
	}
}

// ==========================================================================
// 768px;
// ========================================================================== 

@media screen and (min-width: 768px) {
	.about {
		margin-bottom: 360px;
	}
}

// ==========================================================================
// 1200px
// ========================================================================== 

@media screen and (min-width: 1200px) {
	.about {
		@include flex-direction(row);
		@include justify-content(space-between);
		@include align-items(flex-start);
		padding: 0 40px;
	}

	.about-left {
		display: block;
	}

	.headline {
		margin-left: 0;

		p {
			font-size: $fontsize-h2;
		}
	}
}