// ==========================================================================
// OBJECTS - Contact
// ==========================================================================

.contact {
	height: calc(100% + 100px);
	background: $white;
	@include flexbox;
}

.contact-anchor {
	display: block;
	position: relative;
	visibility: hidden;
	top: -80px;
}

.contact-block {
	position: absolute;
	width: 100%;
}

.contact__intro-title {
  color: black;
  border-color: black;
  position: absolute;
  left: 50%;
  @include transform(translateX(-50%));
  z-index: 10;
  margin-top: 50px;
}

.contact-content {
  width: 295px;
  height: 530px;
  background: #004B7C;
  position: absolute;
  z-index: 10;
  top: 260px;
  left: 50%;
  @include transform(translateX(-50%));
  padding: 40px 30px;
  text-align: center;
  margin-bottom: 100px;
}

.contact-logo {
	margin: 0 auto 50px;
}

.contact-block__list {
	padding: 0;
	list-style: none;
	color: $white;
	font-weight: 300;
	font-size: $fontsize-h2;
}

.contact-block__link {
	color: $white;
	text-decoration: none;

	&:hover, &:focus, &:active {
		color: $flax;
	}
}

.contact-map {
	@include flex(0 1 auto);
	height: calc(100vh + 160px);
	width: 100%;
	overflow: hidden;
}

#map {
 width: 100%;
 height: 100%;
 background-color: grey;
}

// ==========================================================================
// 400px;
// ========================================================================== 

@media screen and (min-width: 400px) {
	.contact-map {
		height: calc(100vh + 100px);
	}
}

// ==========================================================================
// 768px;
// ========================================================================== 

@media screen and (min-width: 768px) {

	.contact-content {
	  top: 195px;
	  left: 50px;
	  @include transform(translateX(0));
	  margin-bottom: 0;
	}
}

// ==========================================================================
// 1200px
// ========================================================================== 

@media screen and (min-width: 1200px) {

	.contact {
		height: 100%;
		background: $white;
		@include flexbox;
	}

	.contact-block {
		background: $navy;
		width: 650px;
		height: 100vh;
		text-align: center;
		padding: 50px;
		@include flex(0 0 650px);
		position: relative;
	}

	.contact-content {
	  width: auto;
	  height: auto;
	  position: relative;
	  top: auto;
	  left: auto;
	}

	.contact__intro-title {
		margin-bottom: 150px;
		margin-top: 0;
		left: auto;
		transform: translateY(0);
	}

	.contact-logo {
		margin: 0 auto 50px;
	}

	.contact-block__list {
		margin: 0 0 270px;
		padding: 0;
		list-style: none;
		color: $white;
		font-weight: 300;
		font-size: $fontsize-h2;
	}

	.contact-block__link {
		color: $white;
		text-decoration: none;

		&:hover, &:focus, &:active {
			color: $flax;
		}
	}

	.contact-map {
		@include flex(0 1 auto);
		height: 100vh;
		width: 100%;
		overflow: hidden;
	}

	#map {
	 width: 100%;
	 height: 100vh;
	 background-color: grey;
	}
}