// ==========================================================================
// OBJECTS - Consult
// ========================================================================== 

.consult__header {
	width: 100vw;
	height: 300px;
	position: relative;
	overflow: hidden;
}

.consult__header-image {
	height: 300px;
	width: 100%;
	background-size: cover;
	background-position: 50% 50%;
}

.consult__types {
	position: relative;
	margin: 0 auto;
	max-width: 1140px;
	min-height: 120px;
}

.consult__types-inner {
	@include flexbox;
	@include flex-wrap(wrap);
	@include justify-content(center);
}

.consult__types-item {
	flex: 0 0 100%;
	position: relative;
	z-index: 1;
	font-weight: 300;

	&:nth-child(odd) {
		background: $marble;
	}

	&:nth-child(even) {
		background: #FCFCF9;
		padding-left: 0;
	}

	&:hover {
		cursor: pointer;
	}
}

.consult__dropdown {
	position: absolute;
	font-size: 23px;
	right: 35px;
	top: 35px;
}

.consult__types-title {
	font-family: $font-sans;
	margin: 0;
}

.consult__types-text {
	display: none;
	padding-right: 35px;

	p {
		margin-top: 20px;
		margin-bottom: 0;
	}
}

.consult__types-item-inner {
	padding: 35px 60px 35px 35px;
}

// ==========================================================================
// 450px;
// ========================================================================== 

@media screen and (min-width: 450px) {
	.consult__types-item-inner {
		padding: 35px;
	}
}

// ==========================================================================
// 768px;
// ========================================================================== 

@media screen and (min-width: 768px) {
	.consult__header-image,
	.consult__header {
		height: 500px;
	}

	.consult__types {
		margin: -98px auto 0;
		padding: 0 50px;
	}
}

// ==========================================================================
// 1200px
// ========================================================================== 

@media screen and (min-width: 1200px) {
	.consult__types {
		padding: 100px 0 50px;
		margin: 0 auto;

		&:before {
			position: absolute;
			content: '';
			left: 50%;
			margin-left: -50vw;
			top: 0;
			height: 100%;
			width: 50vw;
			background: $marble;
			z-index: 0;
		}
	}

	.consult__types-inner {
		@include justify-content(space-between);
	}

	.consult__types-item {
		flex: 0 0 50%;
		padding-bottom: 50px;

		&:nth-child(odd) {
			padding-right: 40px;
			background: none;
		}

		&:nth-child(even) {
			padding-left: 40px;
			background: none;
		}

		&:hover {
			cursor: auto;
		}
	}

	.consult__dropdown {
		display: none;
	}

	.consult__types-text {
		display: block;
	}

	.consult__types-title {
		font-family: $font-sans;
	}

	.consult__types-item-inner {
		max-width: 500px;
		margin: 0 auto;
	}
}