// ==========================================================================
// OBJECTS - Header
// ========================================================================== 

header {
	height: 100%;
	width: 100%;
	max-height: 80px;
	@include flexbox;
	@include justify-content(center);
	@include align-items(center);
	position: fixed;
	z-index: 999;
}

.headroom {
    will-change: transform;
    transition: transform 400ms ease;
}

.headroom--pinned {
    transform: translateY(0%);
}

.headroom--unpinned {
    transform: translateY(-100%);
}

// ==========================================================================
// 768px;
// ========================================================================== 

@media screen and (min-width: 768px) {
	header {
		background: $traesor;
		padding: 28px 50px;
	}
}

// ==========================================================================
// 1200px
// ========================================================================== 

@media screen and (min-width: 1200px) {
	header{
		padding: 28px 150px;
		@include justify-content(flex-end);
	}
}