// ==========================================================================
// OBJECTS - Icons
// ==========================================================================

.go-down {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	cursor: pointer;
	display: none;
}

.go-down__icon {
	font-size: 30px;
	@include border-radius(50%);
	z-index: 1;
	@include transition(top .3s);
	position: relative;
	top: 0;

	&:hover {
		top: 10px;
	}
}

.go-down__text {
	display: block;
	font-weight: 300;
	margin-bottom: 20px;
	font-size: $fontsize-base;
}

.go-down--about {
	bottom: -200px;

	.go-down__icon {
		background: #d8d8d8;
		color: white;
	}
}

.go-down--consult {
	.go-down__icon {
		background: $white;
		color: $navy;
	}
}

.title-underline {
	border-bottom: 4px solid $white;
	padding-bottom: 20px;
	margin-bottom: 30px;
}

.go-to-link,
.go-to-section {
	color: white;
	text-decoration: none;

	&:hover {
		color: $flax;
	}
}

.open-menu {
	display: block;
	opacity: 1;
}

.close-menu {
	display: none;
}

.no-scroll {
	overflow: hidden;
}
// ==========================================================================
// 768px;
// ========================================================================== 

@media screen and (min-width: 768px) {
	.go-down {
		display: block;
	}

	.go-down--consult {
		display: none;
	}

	.title-underline {
		margin-bottom: 50px;
	}

	.close-menu {
		display: block !important;
	}
}

// ==========================================================================
// 1200px
// ========================================================================== 

@media screen and (min-width: 1200px) {

	.go-down--consult {
		display: block;
	}
}