// ==========================================================================
// OBJECTS - Industry
// ==========================================================================

.industry__header {
	font-size: 0;
	letter-spacing: 0;
}

.industry__header-image {
	display: none;
}

.industry__types {
	position: relative;
	z-index: 10;
}

.industry__dropdown {
	position: absolute;
	font-size: 23px;
	right: 35px;
	top: 53px;
}

.industry__types-item {
	padding: 35px 60px 35px 35px;
	@include flexbox;
	@include flex-direction(row);
	@include align-items(flex-end);
	position: relative;

	&:nth-child(odd) {
		background: $marble;
	}

	&:nth-child(even) {
		background: #FCFCF9;
	}

	&:hover {
		cursor: pointer;
	}
}

.industry__types-image {
	height: auto;
	width: 60px;

	&--mobile {
		display: block;
		position: relative;
		margin-bottom: 30px;
	}

	&--desktop {
		display: none;
		top: 35px;
		left: 35px;
		position: absolute;
	}
}

.industry__types-content {
	font-weight: 300;
}

.industry__types-title {
	font-size: $fontsize-h5;
	font-family: $font-sans;
	margin-top: 18px;
}

.industry__types-text {
	display: none;
	margin: 30px 0 0;
	font-size: $fontsize-h5;
	p {
		margin: 0;
	}
}

// ==========================================================================
// 450px;
// ========================================================================== 

@media screen and (min-width: 450px) {
	.industry__types-item {
		padding: 35px;
	}
}

// ==========================================================================
// 500px;
// ========================================================================== 

@media screen and (min-width: 500px) {

}

// ==========================================================================
// 768px;
// ========================================================================== 

@media screen and (min-width: 768px) {

	.industry__types-image {
		&--mobile {
			display: none;
		}

		&--desktop {
			display: block;
		}
	}

	.industry__types-title {
		margin-left: 100px;
	}

	.industry__types {
		margin: -98px auto 0;
		padding: 0 50px;
	}

	.industry__header {
		margin-top: -60px;
	}

	.industry__header-image {
		display: inline-block;
		width: 50%;
		height: 420px;
		background-size: cover;
		background-position: 50% 50%;
	}
}

// ==========================================================================
// 1200px
// ========================================================================== 

@media screen and (min-width: 1200px) {

	.industry__types {
		margin: 150px auto;
		padding: 10px 50px 0;
	}

	.industry__header {
		margin: 0;
	}

	.industry__header-image {
		height: 790px;
	}

	.industry__types-image {
		height: 150px;
		width: auto;
		min-width: 150px;
		margin-right: 130px;
		position: relative;
		left: auto;
		top: -6px;
	}

	.industry__types-item {
		padding: 80px 0 0;
		@include flexbox;
		@include flex-direction(row);
		@include align-items(flex-end);

		&:nth-child(odd) {
			background: none;
		}

		&:nth-child(even) {
			background: none;
			padding-left: 0;
		}

		&:hover {
			cursor: auto;
		}
	}

	.industry__dropdown {
		display: none;
	}

	.industry__types-title {
		font-size: $fontsize-h2;
		font-family: $font-sans;
		margin: 0;
	}

	.industry__types-text {
		display: block;
		margin: 15px 0 0;
		font-size: $fontsize-h2;
	}

	.industry__types-content {
		font-weight: 300;
	}
}