// ==========================================================================
// OBJECTS - Layout
// ========================================================================== 

.content-wrapper {
	overflow: hidden;
	padding-top: 80px;
}

.block {
	max-width: 1140px;
	margin: 0 auto;
}

.inner-block {
	max-width: 500px;
	width: 100%;
}

.intro-block {
	background: $navy;
	max-width: 1140px;
	padding: 100px auto;
}

.industry__intro,
.consult__intro,
.team__intro {
	color: $white;
	font-size: $fontsize-h4;
	text-align: center;
	margin: 50px auto;
	background: $navy;
	position: relative;
	z-index: 1;
	padding: 0 50px 50px;

	p {
		font-weight: 300;
		text-align: left;
	}

	&:after {
		position: absolute;
		content: '';
		background: $navy;
		height: calc(100% + 100px);
		width: 100vw;
		right: 50%;
		left: 50%;
		top: -50px;
		margin-left: -50vw;
		margin-right: -50vw;
		z-index: -1;
	}
}

.consult__intro-title,
.industry__intro-title,
.team__intro-title,
.contact__intro-title {
	color: $white;
	line-height: $fontsize-h1;
	display: inline-block;
}

// ==========================================================================
// 450px;
// ========================================================================== 

@media screen and (min-width: 450px) {

}

// ==========================================================================
// 500px;
// ========================================================================== 

@media screen and (min-width: 500px) {

}

// ==========================================================================
// 768px;
// ========================================================================== 

@media screen and (min-width: 768px) {
	.industry__intro,
	.consult__intro,
	.team__intro {
		margin: 50px auto 50px;
		&:after {
			height: calc(100% + 100px);
		}
	}
}

// ==========================================================================
// 1200px
// ========================================================================== 

@media screen and (min-width: 1200px) {
	.block {
		max-width: 1140px;
		margin: 150px auto;
	}

	.industry__intro,
	.consult__intro,
	.team__intro {
		font-size: $fontsize-h2;
		margin: 40px auto 170px;
		padding: 0 50px;
		&:after {
			height: calc(100% + 220px);
		}
	}

	.team__intro--notext {
		margin: 40px auto 170px;
	}

	.consult__intro-title,
	.industry__intro-title,
	.team__intro-title,
	.contact__intro-title {
		color: $white;
		line-height: $fontsize-h1;
		display: inline-block;
	}
}