// ==========================================================================
// OBJECTS - Menu
// ========================================================================== 

.main-nav {
	display: block;
  background: #083B5E;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  padding: 40px 40px 0;
}

.main-menu {
	padding: 0;
	margin: 0;
	list-style: none;
}

.main-menu__item {
	display: block;

	& + .main-menu__item {
		padding-top: 20px;
	}
}

.main-menu__link {
	text-decoration: none;
	color: white;
	font-size: 24px;
	letter-spacing: 1.7px;
	font-weight: bold;
	text-transform: capitalize;

	&:active, &:visited {
		color: white;
	}

	&:focus, &:hover {
		color: $flax;
	}
}

.mobile-menu__logo {
	width: 120px;
  height: auto;
  margin-bottom: 30px;
}

.mobile-menu__icon {
	font-size: 23px;
	position: absolute;
	right: 40px;
	top: 30px;
	z-index: 900;

	> .icon-cross {
		color: white;
	}

	&:hover {
		cursor: pointer;
	}

	&:after {
		position: absolute;
		content: '';
		height: 60px;
		width: 60px;
		top: -10px;
		left: 50%;
		@include transform(translateX(-50%));
	}
}

.mobile-menu__meta {
  list-style: none;
  padding: 40px 0 0;
  margin: 0;
}

.mobile-menu__meta-link {
	@include flexbox;
	@include align-items(center);
	color: white;
	text-decoration: none;
	font-size: 12px;

	> i {
		font-size: 18px;
		padding-right: 10px;
	}
}

.mobile-menu__meta-item {
	display: block;
	& + .mobile-menu__meta-item {
		margin-top: 10px;
	}
}

// ==========================================================================
// 380px;
// ========================================================================== 

@media screen and (min-width: 380px) {
	.mobile-menu__meta-item {
		display: inline-block;

		& + .mobile-menu__meta-item {
			margin-left: 20px;
			margin-top: 0;
		}
	}
}

// ==========================================================================
// 500px;
// ========================================================================== 

@media screen and (min-width: 500px) {

}

// ==========================================================================
// 768px;
// ========================================================================== 

@media screen and (min-width: 768px) {
	.main-nav {
		background: none;
		position: relative;
		top: auto;
		left: auto;
		height: auto;
		width: auto;
		padding: 0;
	}

.main-menu__item {
	display: inline;

	& + .main-menu__item {
		padding-left: 40px;
		padding-top: 0;
	}
}

	.mobile-menu__logo,
	.mobile-menu__meta,
	.mobile-menu__icon {
		display: none;
	}

	.main-menu__link {
		text-decoration: none;
		color: white;
		font-size: 20px;
		letter-spacing: $letterspacing-titles;
		font-weight: 300;
		text-transform: lowercase;
	}
}

// ==========================================================================
// 1200px
// ========================================================================== 

@media screen and (min-width: 1200px) {

}