// ==========================================================================
// OBJECTS - Team
// ==========================================================================

.team__content {
	position: relative;
  @include flexbox;
  @include flex-direction(column-reverse);

  > .team__content-text {
    margin-top: 30px;
  }
}

.team__slider {
  width: 100%;

  .owl-nav {
  	position: absolute;
  	top: calc(50% - 57px);
  	left: 0;
  	width: 100%;
  }

  .owl-prev,
  .owl-next {
  	@include transition(.3s);
  	position: absolute;
  	color: $flax;
  	&:before {
		  font-family: 'icomoon' !important;
		  speak: none;
		  font-style: normal;
		  font-weight: normal;
		  font-variant: normal;
		  text-transform: none;
		  line-height: 1;		
  	}
  }

  .owl-next {
  	right: -40px;

  	&:hover {
  		right: -50px;
  	}

  	&:before {
  		content: '\e900';
  	}
  }
  .owl-prev {
  	left: -40px;

  	&:hover {
  		left: -50px;
  	}
  	
  	&:before {
			content: '\e901';
  	}
  }
}

.team__slider-list {
	margin: 0;
	padding: 0;
	list-style: none;
	display: inline-block;
}

.team__slider-meta {
	font-size: 14px;
	text-align: left;
	font-weight: 300;
}

.team__slider-meta-item {
	margin: 0;
	line-height: 24px;

	&:first-child {
		font-weight: 700;
	}

	a {
		color: $white;
		text-decoration: none;

		&:hover {
			color: $flax;
		}
	}
}

// ==========================================================================
// 768px;
// ========================================================================== 

@media screen and (min-width: 768px) {
  .team {
    margin-top: -40px;
  }

  .team__intro-title {
    margin-top: 30px;
  }

  .team__slider {
    .owl-nav {
      width: 100%; // was 65% for 3
    }
  }
}

// ==========================================================================
// 1200px
// ========================================================================== 

@media screen and (min-width: 1200px) {

  .team {
    margin-top: 0;
  }

  .team__intro-title {
    margin-top: 0;
  }

  .team__intro-title--notext {
    margin-left: 80px;
  }

  .team__content {
    display: block;

    & > .team__content-text {
      width: 320px;
      margin-right: 40px;
      margin-top: 0;
    }
  }

  .team__content--empty {

    & .team__slider {
      position: relative;
    }

    & .team__slider-list {
      left: 0;
    }

    .team__slider--2items.team__slider-list {
      left: 180px;
    }
  }

  .team__slider {
    position: absolute;
    top: 0;
    left: 40px;
    height: 100%;
    width: 100%;

    .owl-nav {
      width: 49%;
    }
  }

  .team__slider--notext {
    .owl-nav {
      width: 100% !important;
    }
  }

  .team__slider-list {
    left: 360px;
  }

  .team__slider--2items {
    .owl-nav {
      width: 100% !important;
    }
  }

  .team__slider-list--text {
    .owl-item {
      width: auto !important;
    }

    .team__slider-item {
      height: 370px;
    }

    .owl-item img {
      height: 300px;
      width: auto;
    }
  }
}

// ==========================================================================
// 1440px
// ========================================================================== 

@media screen and (min-width: 1440px) {
  .team__slider {
    .owl-nav {
      width: 75%;
    }
  }

  .team__slider--notext {
    .owl-nav {
      width: 100% !important;
    }
  }
}